<span class="d-block text-secondary" style="font-size: .7rem">
  #{{ ban.getId }}
  Placed by
  {{ component('PlayerBadge', { player: ban.getAdmin }) }}
  {{ ban.getBantime|date }} • Expiration:
  {% if ban.getExpiration %}
    {% if ban.getUnbanner %}
      Lifted
    {% elseif ban.isExpired %}
      Expired
    {% else %}
      {% set diff = date().diff(ban.expiration) %}
      <time>{{ diff|date('%y years, %m months, %d days, %h hours, %i minutes') }}</time>
    {% endif %}
  {% else %}
    None - Indefinite
{% endif %}
</span>
