{% extends 'base.html.twig' %}

{% block body %}
<form action="" method="POST">
    <input class="form-control form-control-lg text-center font-monospace fs-2" type="text" autocomplete="off" name="killCode"/>
</form>
{% endblock %}
