<section id="basicInfo">
	<h4 class="border-bottom border-2 pb-2">Server Connections (Last Six Months)</h4>

	<script>
		const rawData = {{ rounds|json_encode|raw }};
	</script>
	{{ encore_entry_script_tags('playerServerChart') }}

	<style>
		.chart-container {
			position: relative;
			width: 100%;
			height: 256px;
		}
	</style>

	<div class="chart-container">
		<canvas id="serverChart"></canvas>
	</div>

</section>
