<span class="serverBadge badge bg-secondary" title="{{server.getIdentifier}}:{{server.getPort}}">
	<img src="{{asset('/img/server_icons/' ~ server.getIdentifier|lower ~ '.png ')}}"/>
	{{server.getIdentifier}}
</span>
